a{
    color: #000;
    text-decoration: none;
}
.header {
    top: 0;
    left: 0;
    backdrop-filter: blur(5px); 
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    width: 100%;
    z-index: 3;
    color: #000;
    font-weight: 500;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    }

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    
}

.header li a:hover,
.header .menu-btn:hover {
    color: rgb(121, 121, 121);
}
.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 20px 50px;
    text-decoration: none;
    color: #000;
}

.header .menu {
    clear: both;
    max-height: 0;
    padding: 15px;
    transition: max-height .2s ease-out;
}
.header .menu-btn {
    display: none;
}
.logo {
    position: relative;
    font-size: 20px;
}
.logo span {
    display: inline-block;
    font-size: 20px;
    position: relative;
    display: inline-block;
    color: #000000;
}
@media only screen and (min-width: 768px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
